.navbar {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:15px;
    height: 100vh;
    margin-right:15px;
    /* background-color: blue; */
}

.nav-img{
    width:25px;
    height:25px;
    margin-top: 5px;
    margin-bottom:25px;
}
.icon-search-card {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 25px;
}
.navs {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top:25px;
    height: 100%;
}
.nav-links{
    display:flex;
    flex-direction:column;
}
.search-icon {
    color: #919492;
    font-size:17px;
}
.nav-button {
    background-color: transparent;
    border: 0px;
    border-radius:7px;
    width:32px;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    /* padding-top:15px; */
}
.logout-card {
    display: flex;
    flex-direction: column;
}