.App{
  width:15px;
}
/* #d7fff7
#9FE2BF */
.Component{
  display: flex;
}
.profile-statics{
  display: flex;
}
.navbar-sm {
  display: none;
}
@media screen and (max-width:1200px) {
  .Component {
    flex-direction: column;
    align-items:center;
  }
  .profile-statics {
    flex-direction: column;
  }
  .navbar{
    display:none;
  }
  .navbar-sm{
    display:flex;
  }
}